doctype html
html(lang='en')
  head
    title= data.title
  body
    h1= data.heading
    p= data.content
    img(src="#{data.images[0]}")
    for d in data.children
        h4
            a(href="#{d.filename}")= d.title